

    <h1>Epi-Blog: A safe place for Epicodus Students to express themselves</h1>
    <h3><center>Latest Posts</center></h3>

  <h3>Publish a: {{new-post savePost="savePost" post=model}}</h3>
  <ul>
    {{#each model.posts as |post|}}
      {{post-tile post=post}}
    {{/each}}
  </ul>
<hr>
