<h1>Epi-Blog: A safe place for Epicodus Students to express themselves</h1>
<h3><center>Latest Posts</center></h3>
<ul>
  {{#each model as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post savePost="savePost"}}
